---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

NamespaceIndentation: None
AccessModifierOffset: -4

MaxEmptyLinesToKeep: 1
ReflowComments: true
